.container{
    background-image: url("Sign_up.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;

}


::placeholder{
    font-size: 1vw;
    font-family:'Times New Roman', Times, serif;

}
h2{
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    color: #ffff;
    border: #080917;
    text-shadow: #1b1d46;
}
h1{
    margin: 40px;
    margin-bottom: 5vw;
    font-weight:100;
    text-align: start;
    color: #ffff;
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
    margin-left: 40px;
    margin-bottom: 2px;
}
input{
    height: 2.3vw;
    width: 17vw;
    border-style:hidden;
    border-radius: 7px;

}
p{
    color: #ffff;
    opacity: 0.8;
    align-items: center;
    font-size:medium;
}
.p{
    color: #ffff;
    opacity: 1;
    text-align:right;
    font-size: 3vw;
    margin-left: 4vw;

}
.button{
    background-color: #3faa42;
    color: white;
    border-style: hidden;
    border-radius: 5vw;
    text-align: center;
    font-size:1vw;
    cursor: pointer;
    padding: 0.5vw 0.5vw;
}
.box{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-style: hidden;
    border-radius: 1vw;
    text-align:center;
    font-size:1.5vw;
    cursor: pointer;
    padding: 0.5vw 2vw;

}
.searchbox{
    width: 35vw;
    height: 30vw;
    background-image: linear-gradient(3deg,rgba(255, 255, 255, 0) 0%, #1a0232 100% ); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5vw;
    border-style: dotted;
    border-color: #ffffff;
    min-height: 35vw; 
    font-size: 2vw;
    text-align: center;
    align-items: left;
    justify-content: left;
    position:static;
    margin:5vw;
    margin-left: 10vw; 
}

.search1
{
    align-items: center;
    width: 30vw;
    height: 17vw;
    background-image: linear-gradient(3deg,rgba(255, 255, 255, 0) 0%, #1a0232 100% ); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5vw;
    border-style: dotted;
    border-color: #ffffff;
    min-height: 35vw; 
    max-width: 40vw;
    font-size: 2vw;
    text-align: center;
    align-items: center;
    justify-content: left;
    margin:2vw;
    margin-left:13vw;
    /* display: flex; */

}
.search2
{
    /* display: flex; */
    align-items: center;
    width: 30vw;
    height: 17vw;
    background-image: linear-gradient(3deg,rgba(255, 255, 255, 0) 0%, #1a0232 100% ); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5vw;
    border-style: dotted;
    border-color: #ffffff;
    min-height: 35vw; 
    font-size: 2vw;
    text-align: center;
    align-items: center;
    justify-content: left;
    margin-left: 5vw;
    margin-top: 3vw;
    /* margin-bottom: 3vw; */

}
.p1{
    text-align: center;
}
.p2{
    text-align: center;
    font-size: 2vw;
}
.tab{
    width:60%;
    height: 2.5vw;
    background-image: linear-gradient(1deg,rgba(0, 0, 0, 0) 0%, #000000 100% ); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #000000;
    margin-left: 25vw;
}
.text1{
    display: flex;
    text-align:justify;
}
.text2{
    display: flex;
    text-align:justify;
}
.text3{
    display: flex;
    text-align:right;
    margin-left: 16vw;
}

