* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(7, 2, 34);
    align-items: center;
    display: flex;
    padding: 0;
    color: white;
}

.bg_image {
    background-image: url("bgimage.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: 90% 60% center;
    opacity: 0.8;
}

.hackathon {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hack {
    opacity: 0.70;
    color: white;
    font-size: 120px;
    text-align: center;
    font-family: offside;
    font-weight: 400;
    display: flex;
    align-items: center;
    letter-spacing: 20px;
    justify-content: center;
    word-wrap: break-word
}

.collab {
    height: 25px;
    width: 25px;
}

.line {
    opacity: 0.70;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: offside;
    font-weight: 400;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    justify-content: center;
}

.logo {
    height: 50px;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

.account_img {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0px;
    margin-right: 50px;
    margin-top: 20px;
}

.a {
    background: rgb(7, 2, 34);
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

.box1 {
    height: 70px;
    width: 100vw;
    display: flex;
    background-color: rgb(7, 2, 34);
}

.box2 {
    height: 40px;
    width: 100vw;
    background-color: rgb(7, 2, 34);
    position: relative;
    /* align-items: center; */
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 80px;
}

.search_team {
    right: 30px;
    position: absolute;
    right: 0px;
    margin-right: 130px;
    margin-top: 10px;
    color: aliceblue;
}

.box2 button {
    border-width: 0;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.BOX {
    height: fit-content;
    width: 90vw;
    background: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
    opacity: 0.7;
}

.box_a {
    margin: 90px;
    height: 250px;
    width: fit-content;
    background: rgb(232, 232, 232);
    border-radius: 8px;
    position: relative;
}

.box_a img {
    height: 150px;
    width: 100%;
}

.logosphere {
    color: #808080;
    margin-left: 30px;
    font-size: 22px;
    font-family: Offside;
}

.logosphere button {
    border-radius: 165px;
    border-width: 0px;
    background: white;
    opacity: 0.5;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    margin-top: 15px;
    /* width: fit-content; */
    font-size: 15px;
    border-radius: 165px;
    border-width: 0px;
    /* color: black; */
    background: rgb(202, 202, 202);
}

.btn2 {
    margin-top: 15px;
    width: fit-content;
    font-size: 15px;
    border-radius: 165px;
    border-width: 0px;
    margin-left: 20px;
    color: black;
    background: rgb(47, 144, 255);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 5px 10px;
    height: fit-content;
    width: fit-content;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 500px;
    padding: 12px 16px;
    z-index: 1;
    color: white;
    cursor: pointer;
}

.dropdown:hover {
    padding: 12px 16px;
    transition: padding-left 1s, padding-right 1s, padding-top 1s, paddding-bottom 1s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search_symbol {
    /* height: 25px; */
    width: 25px;
    padding-top: 5px;
    padding-right: 10px;
}

.roadmap h1 {
    color: white;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
}

.roadmap p {
    color: white;
    text-align: center;
}

.p1 p {
    width: 40%;
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
    letter-spacing: 2px;
}

.p2 p {
    width: 40%;
    margin-top: 0;
    text-align: left;
    font-size: 20px;
    float: right;
    letter-spacing: 2px;

}

.system_map {
    height: 900px;
    width: 700px;
    margin-left: 20px;
    margin-top: 10px;
}

.work {
    color: white;
    width: 45vw;
    background: rgb(0, 0, 0);
    float: right;
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
    font-size: 20px;
    padding: 20px;
    opacity: 0.7;
}

.work h1 {
    text-align: center;
}

.work p {
    text-align: justify;
}

.collaborators span {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collaborators h1 {
    text-align: center;
    margin-left: 150vw;
    margin-top: 50vw;
    padding-left: 150%;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 500px;
    height: 40px;
    align-items: center;
    background: #D9D9D9;
    border-radius: 165px
}

form.example button {
    position: relative;
    width: fit-content;
    height: 40px;
    padding-left: 10px;
    padding-top: 0;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 165px;
    cursor: pointer;
    align-items: center;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}